@font-face {
  font-family: "Army Buster";
  src: url("//sportslivedecals.com/cdn/shop/files/Army_Buster.woff2?v=8736273562931579739") format("woff2");
}
@font-face {
  font-family: "Army Phantom";
  src: url("//sportslivedecals.com/cdn/shop/files/ArmyPhantom.woff2?v=2667489311474837421") format("woff2");
}
@font-face {
  font-family: "Stencil Regular";
  src: url("//sportslivedecals.com/cdn/shop/files/stencil-Regular.woff2?v=10034687807716449053") format("woff2");
}
@font-face {
  font-family: "American Kestral";
  src: url("//sportslivedecals.com/cdn/shop/files/americankestral1_2.woff2?v=18414157174575037910") format("woff2");
}
